{% extends 'uploader/base.html' %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-12">
    <h2>Sequences</h2>
    <table class="table table-striped">
      <thead>
        <th>Submission ID</th>
        <th>Patient</th>
        <th>Status</th>
        <th>Created on</th>
        <th>Action</th>
      </thead>
      <tbody>
	{% for object in object_list %}
        {% comment %} {% if object.collection %} {% endcomment %}
	<tr>
	  {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
	  <td>{{ object.pk }}</td>
	  <td> {% if object.name %}{{ object.name }}{% endif %}</td>
    {% if object.status == 'submitted' %}
	    <td>processing</td>
    {% endif %}
    {% if object.status != 'submitted' %}
      <td>{{ object.status }}</td>
    {% endif %}
    <td>{{ object.date }}</td>
    <td>
      {% if object.status != 'submitted' %}<a href="{% url "uploader-view" object.pk %}">view</a>
      {% endif %}
    </td>
	</tr>
        {% comment %} {% endif %} {% endcomment %}
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}
