{% extends 'uploader/base.html' %}
{% load static %}
{% load tz %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-12">
    <h2>Sequences</h2>
    <table class="table table-striped">
      <thead>
        <th>Submission ID</th>
        <th>Patient</th>
        <th>Status</th>
        <th>Created on</th>
        <th>Action</th>
      </thead>
      <tbody>
	{% for object in page_obj %}
        {% comment %} {% if object.collection %} {% endcomment %}
	<tr>
	  {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
	  <td>{{ object.pk }}</td>
	  <td>{% if object.patient_id %} {{ object.patient_id }} {% endif %}</td>
    {% if object.status == 'submitted' %}
	    <td>processing</td>
    {% endif %}
    {% if object.status != 'submitted' %}
      <td>{{ object.status }}</td>
    {% endif %}
    <td>{{ object.date|timezone:"Asia/Riyadh" }}</td>
    <td>
      {% if object.status != 'submitted' %}<a href="{% url "uploader-view" object.pk %}">view</a>
      {% endif %}
    </td>
	</tr>
        {% comment %} {% endif %} {% endcomment %}
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-12">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
        {% endif %}
    </ul>
  </nav>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/reloader.js" %}">
</script>
{% endblock %}
