{% extends 'uploader/base.html' %}

{% block content %}
<div class="container">
<div class="row">
  {% if object.status == "submitted" %}
  <div class="col-4">
    <p>
      Your sequence have been successfully submitted.
    </p>
    {% elif object.status == "validated" %}
    {{ object.status }}
    {% elif object.status == "error" %}
    <p class="text-danger">
      Something went wrong!
    </p>
    <p>
      {{ object.error_message }}
    </p>
  </div>
  {% elif object.status == "uploaded" %}
  <div class="col-4">
    <h3>Sample ID: {{ object.name }}</h3>
    <table class="table table-striped">
      <thead>
        <th> Filename </th>
        <th> Size </th>
        <th> Download </th>
      </thead>
      <tbody>
        {% for fl in object.files %}
        <tr>
          <td> {{ fl.name }} </td>
          <td> {{ fl.size|filesizeformat }} </td>
          <td>
            <form method="post" action="{% url "uploader-download" object.col_uuid fl.name %}">
              {% csrf_token %}
              <button class="btn btn-primary"
                      type="submit"><i class="fa fa-download"></i></button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form method="post" action="{% url "uploader-view" object.pk %}">
      {% csrf_token %}
      <input type="hidden" name="action" value="delete"/>
      <button class="btn btn-warning" onclick="return confirm('Are you sure you want to delete the upload?')" type="submit">Delete</button>
    </form>
  </div>
  {% if object.output_status != "complete" %}
  <div class="col-4">
    <p>
      Your sequence analysis is under progress.
    </p>
  </div>
  {% else %}
  <div class="col-4">
    <h3>Analysis output</h3>
    <table class="table table-striped">
      <thead>
        <th> Filename </th>
        <th> Size </th>
        <th> Download </th>
      </thead>
      <tbody>
        {% for fl in object.output_files %}
        <tr>
          <td> {{ fl.name }} </td>
          <td> {{ fl.size|filesizeformat }} </td>
          <td>
            <form method="post" action="{% url "uploader-download" object.out_col_uuid fl.name %}">
              {% csrf_token %}
              <button class="btn btn-primary"
                      type="submit"><i class="fa fa-download"></i></button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
  {% endif %}
  {% endif %}
</div>
</div>
{% endblock %}
