<div class="row">
  <div class="col-9 p-3">
      <h2>Submissions</h2>
  </div>
  <div class="col-3 p-3">
      <button class="btn btn-green ml-3" (click)="moveToForm()">Create a Submission</button>
      <button class="btn btn-green ml-2" (click)="findSubmissions()" placement="bottom" ngbTooltip="Refresh"><i class="fa fa-sync"></i></button>
  </div>
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <th>Job ID</th>
        <th>Patient ID</th>
        <th>Patient</th>
        <th>Status</th>
        <th>Created on</th>
        <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let sub of submissions; let subIndex = index">
	    <td>{{ sub.id }}</td>
      <td>{{ sub?.patient?.identifier }}</td>
      <td>{{ sub?.patient?.full_name }}</td>
	    <td>
            <span *ngIf="sub.status == 'submitted'">processing</span>
            <span *ngIf="sub.status != 'submitted'">{{sub.status}}</span>
        </td>
        <td>{{ sub.date }}</td>
        <td>
            <a *ngIf="sub.status == 'draft'" [routerLink]="sub.id + '/edit'" ngbTooltip="Edit"><i class="fas fa-edit"></i></a>
            <a *ngIf="sub.status != 'submitted'" [routerLink]="sub.id" [ngClass]="{'ml-3': sub.status == 'draft'}" ngbTooltip="View"><i class="fas fa-eye"></i></a> 
        </td>
	   </tr>
      </tbody>
      <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [rotate]="true" 
                [maxSize]="5" (pageChange)="loadPage($event)">
            </ngb-pagination>
        </div>
    </table>
  </div>
</div>