<div class="row">
    <div class="col-12 mt-3">
        <h2> Create a Submission</h2>
    </div>
    <div class="col-12 mt-2">
        <form [formGroup]="submissionForm">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs nav-justified subform">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Patient Information</a>
                <ng-template ngbNavContent>
                    <div class="container pl-4 pr-4">
                        <app-patient-form [patientForm]="f.patient" (patientSelectEvent)='onPatientSelect($event)'></app-patient-form>
                        <p class="mt-3"><strong>Clinical Symtoms</strong></p>
                        <hr />
                        <div class="form-group row">
                            <div class="col-2"></div>
                            <div class="col-2 pt-2"><label for="identifier">Phenotype Search:</label></div>
                            <div class="col-6" formGroupName="patient">
                                <div class="form-group">
                                    <ng-select [items]="phenotype$ | async"
                                            [hideSelected]="true"
                                            [trackByFn]="trackByFn"
                                            [multiple]="true"
                                            [minTermLength]="3"
                                            [loading]="phenotypeLoading"
                                            typeToSearchText="Please enter 2 or more characters"
                                            [typeahead]="phenotypeInput$"
                                            placeholder="Enter phenotypes"
                                            (change)="onPhenotypeSelect($event)"
                                            formControlName="phenotypes">    
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.label[0]}} <small><i>{{item.oboid}}</i></small>
                                        </ng-template>
                                       
                                    </ng-select>
                                     <div class="invalid-field" *ngIf="patientForm['controls'].phenotypes.invalid && (patientForm['controls'].phenotypes.dirty || patientForm['controls'].phenotypes.touched)">
                                        <span *ngIf="patientForm['controls'].phenotypes.errors.required">{{requiredError}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" [disabled]="patientForm.invalid">
                <a ngbNavLink>Pedigree</a>
                <ng-template ngbNavContent>
                    <app-patient-pedigree [indexPatient]="f.patient.value"></app-patient-pedigree>
                </ng-template>
            </li>
            <li [ngbNavItem]="3" [disabled]="patientForm.invalid">
                <a ngbNavLink>Genome Sequences</a>
                <ng-template ngbNavContent>
                    <app-submission-sequence></app-submission-sequence>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
        <div class="ml-3 float-right  mt-2">
        <button class="btn btn-sm btn-secondary" (click)="cancel()">Cancel</button>
        <button class="btn btn-sm btn-green ml-1" [disabled]="active < 2" (click)="back()">Back</button>
        <button class="btn btn-sm btn-green ml-1" [disabled]="active == 3 || (active == 1 && patientForm.invalid)" (click)="next()">Next</button>
        <button class="btn btn-sm btn-green ml-1" [disabled]="active != 3" (click)="submit()">Save</button>
        </div>
        </form>
    </div>
</div>
