<div class="container">
<div class="row mt-5">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
        </div>
        <form [formGroup]="changePwdForm" (ngSubmit)="changePassword()">
        <div class="form-group">
            <label for="inputPassword">Old Password</label>
            <input type="password" id="old_password" class="form-control" placeholder="Old Password"
                formControlName="old_password">
            <div class="invalid-field" *ngIf="f.old_password.invalid && (f.old_password.dirty || f.old_password.touched)">
                <span *ngIf="f.old_password.errors.required">{{requiredError}}</span>
                <span *ngIf="f.old_password.errors.minlength">old password must be at least 6 characters</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword">New Password:</label>
            <input type="password" id="new_password" class="form-control" placeholder="New Password"
                formControlName="new_password">
            <div class="invalid-field" *ngIf="f.new_password.invalid && (f.new_password.dirty || f.new_password.touched)">
                <span *ngIf="f.new_password.errors.required">{{requiredError}}</span>
                <span *ngIf="f.new_password.errors.minlength">new password must be at least 6 characters</span>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword">Confirm New Password:</label>
            <input type="password" id="new_confirm_password" class="form-control" placeholder="Confirm New Password" 
                formControlName="new_confirm_password">
            <div class="invalid-field" *ngIf="f.new_confirm_password.invalid && (f.new_confirm_password.dirty || f.new_confirm_password.touched)">
                <span *ngIf="f.new_confirm_password.errors.required">{{requiredError}}</span>
                {{f.errors}}
                <span *ngIf="f.new_confirm_password.errors.mustMatch">new passwords must match</span>
            </div>
        </div>
        <div class="invalid-field" *ngIf="error">
            {{error}}
        </div>
        <div class="form-row mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="changePwdForm.invalid">Save</button>
            <button type="submit" class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">BORG, KAUST</p>
        </form>
    </div>
    </div>
</div>
</div>