<div class="row" *ngIf="submission">
    <p  *ngIf="submission.status == 'submitted'">
        Your sequence have been successfully submitted.
    </p>
    <span *ngIf="submission.status == 'validated'"> {{ submission.status }} </span>
    <p class="text-danger" *ngIf="submission.status == 'error'">
        Something went wrong!
    </p>
    <p>
        {{ submission.error_message }}
    </p>
    <div class="col-4 mr-3" *ngIf="submission.status == 'uploaded'">
        <h3>Sample ID: {{ submission.name }}</h3>
        <table class="table table-striped">
        <thead>
            <th> Filename </th>
            <th> Size </th>
            <th> Download </th>
        </thead>
        <tbody>
        
            <tr *ngFor="let fl of submission.files; let flIndex = index">
            <td> {{ fl.name }} </td>
            <td> {{ fl.size| filesize }} </td>
            <td>
                <a [href]="'/api/download/' +  submission.col_uuid + '/' + fl.name" target="_blank" class="btn btn-primary"><i class="fa fa-download"></i></a>
            </td>
            </tr>
        </tbody>
        </table>
        <button class="btn btn-warning" (click)="open(content)">Delete</button>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Delete Sample</h4> 
            </div>
            <div class="modal-body">
                <p><strong>Are you sure you want to delete the sample and results?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="onDelete(submission.id);modal.close('deleted')">Ok</button>
            </div>
        </ng-template>
    </div>
    <div class="col-4" *ngIf="submission.status == 'complete'">
        <p>
            Your sequence analysis is under progress.
        </p>
    </div>
    <div class="col-4" >
        <h3>Analysis output</h3>
        <table class="table table-striped">
        <thead>
            <th> Filename </th>
            <th> Size </th>
            <th> Download </th>
        </thead>
        <tbody>
            <tr *ngFor="let fl of submission.output_files; let flIndex = index">
            <td> {{ fl.name }} </td>
            <td> {{ fl.size| filesize }} </td>
            <td>
                <a [href]="'/api/download/' +  submission.out_col_uuid + '/' + fl.name" target="_blank" class="btn btn-primary"><i class="fa fa-download"></i></a>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
